<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
    <!--替换项目地址 -->
    <srcDir>E:\Project2\lingyongqian</srcDir>

    <!-- 原项目名 -->
    <originAppName>零用钱</originAppName>
    <!-- 原项目拼音 -->
    <originPinYinName>lingyongqian</originPinYinName>
    <!-- 现项目名 -->
    <curAppName>榕树花</curAppName>
    <!-- 现项目拼音 -->
    <curPinYinName>rongshuhua</curPinYinName>
    <!-- url地址 -->
    <url>http://sloijy65.cn/</url>
    <!-- 未来解决每个人android sdk位置不同 -->
    <sdk>E\:\\software\\android_sdk</sdk>

    <!--  TODO  后续增加自动读取目录下图片功能,自动替换,不需配置 -->
    <basePicPath>C:\Users\Administrator\Desktop\pic\</basePicPath>
    <!-- 
    <logoPicPath>logo.png</logoPicPath>

    <loginPicPath>login_logo.png</loginPicPath>

    <minelogoPath>mine_logo.png</minelogoPath> -->

    <test>E:\test\a.txt</test>

</root>